<div class="page login-page">
  <div class="container">
    <div class="form-outer text-center d-flex align-items-center justify-content-center">
      <div class="form-inner">
        <div class="logo text-uppercase"><span>Admin</span> <strong class="text-primary">Registration</strong></div>
        <p>Welcome to SMpool dashboard! <br>Let's register admin account.</p>
        <form  [formGroup]="adminForm" class="text-left form-validate">
          <div class="form-group-material">
            <input formControlName="usernameForm" id="register-username" type="text" class="input-material" (change)="usernameChange()">
            <label for="register-username" class="label-material">Username</label>
            <div class="text-danger">{{usernameMsg}}</div>
          </div>

          <div class="form-group-material">
            <input formControlName="nameForm" id="register-name" type="text" class="input-material" (change)="nameChange()">
            <label for="register-name" class="label-material">Name</label>
            <div class="text-danger">{{nameMsg}}</div>
          </div>

          <div class="form-group-material">
            <input formControlName="surnameForm" id="register-surname" type="text" class="input-material" (change)="surnameChange()">
            <label for="register-surname" class="label-material">Surname</label>
            <div class="text-danger">{{surnameMsg}}</div>
          </div>

          <div class="form-group-material">
            <input formControlName="emailForm" id="register-email" type="text" class="input-material" (change)="emailChange()">
            <label for="register-email" class="label-material">Email</label>
            <div class="text-danger">{{emailMsg}}</div>
          </div>

          <!--          <div class="form-group-material">
                      <input id="register-email" type="email" name="registerEmail" required data-msg="Please enter a valid email address" class="input-material">
                      <label for="register-email" class="label-material">Email Address      </label>
                    </div>-->
          <div formGroupName="password" (change)="passwordChange()">
            <div class="form-group-material">
              <input formControlName="passwordForm" id="register-password" type="password" class="input-material" (change)="passwordFirstChange()">
              <label for="register-password" class="label-material">Password</label>
              <div class="text-danger">{{passwordMsg}}</div>
            </div>

            <div class="form-group-material">
              <input formControlName="passwordRepeatForm" id="confirm-password" type="password" class="input-material" (change)="passwordRepeatChange()">
              <label for="confirm-password" class="label-material">Confirm password</label>
              <div class="text-danger">{{passwordRepeatMsg}}</div>
            </div>
          </div>
          <!--          <div class="form-group terms-conditions text-center">
                      <input id="register-agree" name="registerAgree" type="checkbox" required value="1" data-msg="Your agreement is required" class="form-control-custom">
                      <label for="register-agree">I agree with the terms and policy</label>
                    </div>-->
          <div class="form-group text-center">
            <input [disabled]="(!adminForm.valid) || (!this.passwordMatch)" id="register" type="submit" value="Register" class="btn btn-primary" (click)="onRegisterClick()">
          </div>
        </form>
      </div>
      <div class="copyrights text-center">
        <p>Design by <a href="https://bootstrapious.com" class="external">Bootstrapious</a></p>
        <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
      </div>
    </div>
  </div>
</div>

