
<router-outlet></router-outlet>


<!--
<div *ngIf="!admin.admin_exists; else loginPage">
  <app-admin-creator (loginEvent)="adminCreated()"> </app-admin-creator>
</div>
<ng-template #loginPage >

  <div *ngIf="! userIsLogged; else homePage">
    <app-login (loginEvent)="loginPassed()"></app-login>
&lt;!&ndash;    <router-outlet></router-outlet>&ndash;&gt;
&lt;!&ndash;    <app-login (loginEvent)="loginPassed()"></app-login>&ndash;&gt;

  </div>

  <ng-template #homePage>
    <div class="page">
    <app-sidemenu></app-sidemenu>
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
    </div>
  </ng-template>
</ng-template>

-->
