

<div *ngIf="!admin.admin_exists; else loginPage">
  <app-admin-creator (loginEvent)="adminCreated()"> </app-admin-creator>
</div>
<ng-template #loginPage >

  <div *ngIf="! userIsLogged; else homePage">
    <app-login-new (loginEvent)="loginPassed()"></app-login-new>
<!--    <router-outlet></router-outlet>-->
<!--    <app-login (loginEvent)="loginPassed()"></app-login>-->

  </div>

  <ng-template #homePage>
    <div class="page">
    <app-sidemenu></app-sidemenu>
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
    </div>
  </ng-template>
</ng-template>

