/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.small-text{
  font-size: 11px;
}

.mat-accent .mat-slider-track-fill {
  background-color: #55aaff !important;
}

.mat-slider-thumb-label {
  background-color: #55aaff !important;

}
.mat-slider-thumb {
  background-color: #55aaff !important;
}


.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #55aaff;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #55aaff;
}

.my-snack-bar {
  background-color: #55aaff;
  color: #ffffff;
}
